# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:

   * Popular languages that Data Scientists use
   * Commonly used libraries used by Data Scientists
   * Evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

    1. PYTHON
    2. R
    3. JAVA

Some of the commonly used libraries used by Data Scientists include:
    
    1. pandas
    2. numpy
    3. matplotlib


|Data Science Tools|
|-----------------|
|RStudio|
|TensorFlow|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ben Xa